<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Site</h1></a>
  
    </div>
    <ul>
      <li><a href="/blogs">All Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">Create blog</a></li>
    </ul>
  </nav>








  